*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url("./images/screen.png");
    position: relative;
    overflow: hidden;
}

.danger-line{
    width: 100%;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.371);
    position: absolute;
    bottom: 0
}

.basket{
    width: 120px;
    height: 95px;
    position: absolute;
    bottom: 15px;
    left: calc(50% - 25px);

}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 4em;
    height: 4em;
    background-color: greenyellow;
    font-weight: 700;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    text-transform: uppercase;
}

.element p {
    text-align: center;
}

.purple {
    background-color: rgb(141, 75, 173);
}

.blue {
    background-color: rgb(85, 154, 201);
}

.info{
    width: 189px;
    background-color: rgba(255, 255, 255, 0.452);
    padding: 10px;
    border: 1px rgba(169, 169, 169, 0.504) solid;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
}

.info p{
    color: rgb(84, 84, 84);
}