*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.danger-line{
    width: 100%;
    height: 15px;
    background-color: aqua;
    position: absolute;
    bottom: 0
}

.basket{
    width: 80px;
    height: 50px;
    background-color: blue;
    position: absolute;
    bottom: 15px;
    left: calc(50% - 25px);

}

.element{
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    text-transform: uppercase;
}

.purple {
    background-color: rgb(141, 75, 173);
}

.blue {
    background-color: rgb(85, 154, 201);
}